@model WebsitePlant.Models.Plant

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlantId" />
            <div class="form-group">
                <label asp-for="CommonName" class="control-label"></label>
                <input asp-for="CommonName" class="form-control" />
                <span asp-validation-for="CommonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherNames" class="control-label"></label>
                <input asp-for="OtherNames" class="form-control" />
                <span asp-validation-for="OtherNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScientificName" class="control-label"></label>
                <input asp-for="ScientificName" class="form-control" />
                <span asp-validation-for="ScientificName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Family" class="control-label"></label>
                <input asp-for="Family" class="form-control" />
                <span asp-validation-for="Family" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantPartUsed" class="control-label"></label>
                <input asp-for="PlantPartUsed" class="form-control" />
                <span asp-validation-for="PlantPartUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantUse" class="control-label"></label>
                <input asp-for="PlantUse" class="form-control" />
                <span asp-validation-for="PlantUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
